/* GENERAL VARIABLES */
$grid-height: 100px;
/* END GENERAL VARIABLES*/

/* COLORS */
$black: #000000;
$white: #000000;
$gray: #000000;
$red: #000000;
$green: #000000;
$blue: #000000;

$background-color-active: #ffffff;
$background-color-inactive: #000000;

$font-color-active: #ffffff;
$font-color-inactive: #000000;
/* END COLORS */