input[type="text"], input[type="password"], input[type="email"], select {
	border-radius: 0px !important;
	background: $input-bg !important;
	border: 1px solid $input-border-color !important;
	color: $font-color !important;
}