/* GENERAL VARIABLES */
$grid-height: 100px;
/* END GENERAL VARIABLES*/

/* COLORS */
$black: #000000;
$white: #ffffff;
$gray: #000000;
$red: #000000;
$green: #000000;
$blue: #000000;

$background-color-active: #ffffff;
$background-color-inactive: #000000;

$font-color: #a9aeb2;
$font-color-active: #ffffff;
$font-color-inactive: #000000;

$error-font-color: #c54c4c;

$alert-danger-bg: #ca2828;
$alert-success-bg: #1f921f;
$alert-warning-bg: #9d33ad;
$alert-info-bg: #387eb4;

$main-bg: #262626;

$hr-border-color: #353535;

$heading-font-color: #b0b0b0;

$brand-hr-font-color: #e1520c;
$brand-swift-font-color: #e1e2e3;

$navbar-bg: #252525;
$navbar-border-color: #151515;
$navbar-brand-bg: transparent;
$navbar-active-bg: #202020;

$dropdown-menu-font-color: #a0a0a0;

$pagination-items-bg: #202020;
$pagination-items-border-color: #1a1a1a;
$pagination-icon-font-color: #404040;

$sidebar-bg: #191919;
$sidebar-items: #101010;
$sidebar-items-border-color: #0b0b0b;
$sidebar-items-font-color: #808080;
$sidebar-items-icon: #387eb4;
$sidebar-position-font-color: #808080; 
$sidebar-date-font-color: #505050;

$table-bg: #222222;
$table-header-bg: #313131;
$table-border-color: #141414;
$table-th-font-color: #cccccc;
$table-th-icon-font-color: #505050;
$row-even: $table-bg;
$row-odd: #1b1b1b;

$list-bg: #353535;
$list-border-color: #353535;

$organizational-chart-bg: #303030;
$organizational-chart-level-top-border-color: #292929;
$organizational-chart-level-bottom-border-color: #101010;
$organizational-chart-border-color: #3a3a3a;
$organizational-chart-font-color: #bababa;

$button-bg: #494949;
$button-border-color: #202020;

$input-bg: #202020;
$input-border-color: #505050;

$well-bg: #202020;
$well-border-color: #2b2b2b;

$date-slider-font-color: #7a7a7a;

$search-border-color: #171717;
/* END COLORS */