/**  
 * Front End Framework
 * 
 * LICENSE description
 *
 * @author     	Mark Eleazar
 * @copyright  	2015, Mark Eleazar
 * @version    	Version 1.0
 * @see        	ReadMe for file structure reference
 * @access 		Use at your own risk
 * @static
 */

/* BASE */
/* @import 'base/reset'; */
@import 'base/typography';
/* END BASE */

/* HELPERS */
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';
@import 'helpers/placeholders';
@import 'helpers/helpers';
/* END HELPERS */

/* COMPONENTS */
@import 'components/buttons';
@import 'components/inputs';
@import 'components/forms';
@import 'components/tables';
@import 'components/navigation';
/* END COMPONENTS */

/* LAYOUTS */
@import 'layouts/grid';
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/sidebar';
/* END LAYOUTS */

/* PAGES */
@import 'pages/home';
@import 'pages/contact';
/* END PAGES */

body {
	background: $main-bg;
	color: $font-color;
}

h1, h2, h3, h4, h5, label, span, p, a {
	color: $font-color;
}

h1, h2, h3, h4, h5 {
	color: $heading-font-color;
	font-weight: bold;
}

a {
	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: $font-color;
		text-decoration: none;
	}

	&:active {
		color: $font-color;
		text-decoration: none;
	}
}

hr {
	border-top: 1px solid $hr-border-color;
}

ul {
	list-style-type: circle;
}

/* BOOTSTRAP OVERRIDE */
.has-error {
	color: $error-font-color;
	font-size: 0.9em;
}

.has-error .form-control {
	box-shadow: none !important;
}

.form-group {
	margin-bottom: 7px !important;
}

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
	background: $navbar-bg;
}

.navbar-inverse .navbar-nav>.active>a {
	background: $navbar-active-bg;	
}

.navbar-inverse {
	border-top: 1px solid $navbar-border-color;
	border-bottom: 1px solid $navbar-border-color;
}

.navbar-inverse .navbar-brand {
	img {
		max-width: 90px;
	}
}

.dropdown-menu {
	background: rgba(0,0,0,0.9);
	border-radius: 0px;

	li a {
		color: $dropdown-menu-font-color;

		&:hover {
			background: transparent;
			color: $dropdown-menu-font-color + 80;
		}
	}
}

.pagination {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.pagination-sm li a {
	background: $pagination-items-bg;
	border: 1px solid $pagination-items-border-color;

	&:hover {
		background: $pagination-items-bg + 50;
	}
}

.well {
	border-radius: 0px !important;
	background: $well-bg !important;
	border: 1px solid $well-border-color !important;
	color: $font-color !important;
	box-shadow: none;
}

.alert {
	border-radius: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #f0f0f0;
	border: 0px;

	.close {
		&:hover {
			background: transparent;
			border: 0px;
		}
	}
}

.alert-inner {
	position: absolute;
	left: 0;
	top: 0px;
	margin-top: -8px;
	width: 100%;
}

.alert-danger {
	background: $alert-danger-bg;

	&:hover {
		background: $alert-danger-bg + 20;
	}
}

.alert-success {
	background: $alert-success-bg;

	&:hover {
		background: $alert-success-bg + 20;
	}
}

.alert-warning {
	background: $alert-warning-bg;

	&:hover {
		background: $alert-warning-bg + 20;
	}
}

.alert-info {
	background: $alert-info-bg;

	&:hover {
		background: $alert-info-bg + 20;
	}
}


/* END BOOTSTRAP OVERRIDE */

.main-bg-image {
	background:url('../images/main_bg_bw.jpg') no-repeat center center fixed;
	@include background-size-cover();
}

.profile-picture-container {
	padding: 6px;
	padding-top: 0px;
}

.login-container, .register-container, .forgot-container {
	background: rgba(0,0,0,0.9);
	padding-bottom: 30px;
	padding-top: 20px;
	margin-top: 110px;

	.login-brand {
		margin: 0px auto 15px auto;
	}
}

.pagination-container, .crud-container {
	margin: 5px 0px;
}

.input-icon {	
	input {
		padding-right: 32px;
	}

	i {
		position: absolute;
		right: 26px;
		margin-top: -25px;
		top: inherit;
	}
}

.list-container {
	list-style: none;
		
	li {
		background: $list-bg;
		border: 2px solid $list-border-color;
		margin-bottom: 3px;

		button {
			margin-right: 10px;
			border: 1px solid $list-border-color + 30;
		}

		&:hover {
			background: $list-bg + 50;
			border: 2px solid $list-border-color + 50;
		}
	}
}

.organizational-chart-level {
	padding: 10px 0px;
	border-bottom: 1px solid $organizational-chart-level-bottom-border-color;
	border-top: 1px solid $organizational-chart-level-top-border-color;

	&:first-child {
		border-top: 0px;
	}

	&:last-child {
		border-bottom: 0px;
	}

	.organizational-chart-level-inner-container {
		max-width: 280px;
		margin: 5px 10px 5px 10px;
		background: $organizational-chart-bg - 20;
		border: 1px solid $organizational-chart-border-color - 10;
		min-height: 140px;
		text-align: left;
		display: inline-block;

		p {
			&:nth-child(1) {
				margin-top: 8px;
				color: $organizational-chart-font-color;
			}	

			&:nth-child(2) {
				margin-top: -8px;
				color: $organizational-chart-font-color - 70;
				font-size: 0.9em;
			}

			&:nth-child(3) {
				color: $organizational-chart-font-color - 40;
				font-size: 0.8em;
				text-align: justify;
			}
		}
	}
}

.sidebar {
	position: fixed;
	margin-top: -60px;
	background: $sidebar-bg;
	min-height: 100%;

	.sidebar-user-info {
		margin-top: 65px;
		padding: 10px 0px;
		margin-bottom: 110px;

		.sidebar-user-info-position {
			margin-top: -8px;
			color: $sidebar-position-font-color;
			font-size: 0.9em;
		}

		.sidebar-user-info-time {
			.sidebar-user-info-hour {
				font-size: 1.5em;
			}

			.sidebar-user-info-ampm {
				color: $sidebar-bg + 60;
			}
		}

		.sidebar-user-info-date {
			margin-top: -15px;
			color: $sidebar-date-font-color;
			
			.sidebar-user-info-ymd {
				font-weight: normal;
				color: $sidebar-date-font-color;
			}
		}
	}

	.sidebar-list {
		ul {
			padding: 0px;

			li {
				padding: 12px 10px;
				list-style: none;
				color: $sidebar-items-font-color;
				/*
				background: $sidebar-items;
				border-top: 1px solid #404040;
				border-bottom: 1px solid #101010;
				*/

				&:hover {
					/*background: $sidebar-items + 50;*/
					color: $sidebar-items-font-color + 70;

					.sidebar-list-icon {
						color: $sidebar-items-icon + 30;
					}
				}
			}

			.active {
				background: $sidebar-items;
				border-top: 1px solid $sidebar-items-border-color;
			}
		}

		.sidebar-item-pointer {
			position: absolute;
			right: 0px;
			margin-top: -25px;
			@include triangle(15px, $main-bg, left);
		}

		.sidebar-list-icon {
			font-size: 0.9em !important;
			margin-right: 5px;
			color: $sidebar-items-icon;
		}
	}
}

.inner-wrapper {
	padding: 10px 15px;
}

#labels-months-output {
	padding: 3px 10px;
	margin-bottom: 14px;
	text-align: center;
	color: $date-slider-font-color;
}